[Unit]
Description=VTG Video Player
After=network.target

[Service]
Type=simple
User=vtg
WorkingDirectory=/home/vtg/vtg_gen2/services
ExecStart=/home/vtg/vtg_gen2/services/video_player.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
