# vtg-wifi-fallback.service
[Unit]
Description=VTG Wifi Fallback Check

[Service]
Type=oneshot
ExecStart=/bin/bash /home/vtg/vtg_gen2/services/wifi_fallback.sh
